<section class="main-container flex justify-between relative">
    <div class="flex w-4/6 flex-col gap-2 py-8">
        <h2 class="project-name text-xl lg:text-2xl text-white-400 hover:underline cursor-pointer">
            {{project.name}}
        </h2>
        <ul class="flex flex-row gap-2">
            <li  *ngFor="let tag of project.tags" class="flex justify-center items-center px-2 border border-1 border-grey-200 rounded-2xl">
                <p class="text-xs lg:text-sm text-grey-200">
                    {{tag}}
                </p>
            </li>
        </ul>
    </div>

    <div class="image-container h-[100px] lg:h-[200%] absolute top-[-1] right-4 lg:right-20 self-center">
        <img src={{project.image}} alt="">
    </div>

</section>
