<section class="main-container flex justify-between relative">
    <div class="flex w-4/6 flex-col gap-2 py-8">
        <h2 class="project-name text-2xl text-white-400 hover:underline cursor-pointer">
            Pasvord: Password & Key Manager
        </h2>
        <ul class="flex gap-2">
            <li class="py-[2px] px-[8px] border border-1 border-grey-200 rounded-2xl">
                <p class="text-sm text-grey-200">
                    Mobile
                </p>
            </li>
            <li class="py-[2px] px-[8px] border border-1 border-grey-200 rounded-2xl">
                <p class="text-sm text-grey-200">
                    Mobile
                </p>
            </li>
            <li class="py-[2px] px-[8px] border border-1 border-grey-200 rounded-2xl">
                <p class="text-sm text-grey-200">
                    Mobile
                </p>
            </li>
        </ul>
    </div>

    <div class="image-container w-[350px] absolute top-[-1] right-20 self-center">
        <img src="assets/Pasvord.png" alt="">
    </div>

</section>
