<main>

  <section class="about-me-page-container">

    <!-- Section heading -->
    <div class="section-container">
      <h2 class="about-heading">
        Personal
      </h2>


      <!-- About me lists -->
      <ul class="about-me-section">
        <!-- INDI ITEM -->
        <li>
          <div class="about-me-container">
            <!-- Line on the side of the list item -->
            <div class="line">
              <p>
                &#9899;
              </p>
            </div>

            <!-- Text Content -->
              <div class="text-content">
                <!-- Section Header -->
                <h3 class="section-header">
                  Summary
                </h3>

                <!-- Information -->
                <p class="information">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias id culpa, eum temporibus quas nulla illum! Voluptas voluptatum aliquam libero quae eaque fugiat nihil molestias, accusantium maxime voluptate. Ad, obcaecati?
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ratione repellendus ducimus iusto, ea possimus nihil dicta animi provident nisi nobis corporis exercitationem hic fuga veritatis reprehenderit delectus, aliquam recusandae.
                </p>
              </div>
          </div>
        </li>

        <!-- INDI ITEM -->
        <li>
          <div class="about-me-container">
            <!-- Line on the side of the list item -->
            <div class="line">
              <p>
                &#9899;
              </p>
            </div>

            <!-- Text Content -->
              <div class="text-content">
                <!-- Section Header -->
                <h3 class="section-header">
                  Summary
                </h3>

                <!-- Information -->
                <p class="information">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias id culpa, eum temporibus quas nulla illum! Voluptas voluptatum aliquam libero quae eaque fugiat nihil molestias, accusantium maxime voluptate. Ad, obcaecati?
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ratione repellendus ducimus iusto, ea possimus nihil dicta animi provident nisi nobis corporis exercitationem hic fuga veritatis reprehenderit delectus, aliquam recusandae.
                </p>
              </div>
          </div>
        </li>

      </ul>

    </div>


  </section>


</main>
