<section class="about-me-container">

  <section class="about-me">
    <h2 class="heading">
      About Me
    </h2>
    <hr>
    <p class="content">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, quaerat repellendus! Dolores error harum provident deleniti? Quasi eius, laborum neque ad commodi voluptas exercitationem corrupti pariatur quos libero ratione consequatur.
      <br>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid reprehenderit beatae voluptates aliquam minima minus nesciunt mollitia cum, maiores, asperiores obcaecati, quas quisquam. Voluptate quas ipsum, voluptas est possimus deleniti. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid reprehenderit beatae voluptates aliquam minima minus nesciunt mollitia cum, maiores, asperiores obcaecati, quas quisquam. Voluptate quas ipsum, voluptas est possimus deleniti.
    </p>
  </section>

  <section class="timeline-container">
    <h2 class="heading">
      Evolution
    </h2>
    <hr>
    <div class="wrapper">

      <div class="center-line">
        <a href="#" class="scroll-icon"><i class="fas fa-caret-up"></i></a>
      </div>

      <div class="row row-1">
        <section>
          <i class="icon fas fa-home"></i>
          <div class="details">
            <h2 class="title">2022</h2>
          </div>
          <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
        </section>
      </div>

      <div class="row row-2">
        <section>
          <i class="icon fas fa-star"></i>
          <div class="details">
            <h2 class="title">2021</h2>
          </div>
          <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
        </section>
      </div>

    </div>


  </section>

</section>
