.about-me-container
{
  .about-me{
    h2{
      text-align: center;
      font-size: 2em;
      font-family: 'Nixie One';
      font-weight: 200;
    }
    hr{
      width: 50%;
    }
    .content{
      font-size: 1.2em;
      margin: 20px 15%;
      text-align: center;
      font-family: 'Lato';
      font-weight: 100;
    }
  }

}
