<section *ngIf="!loading" class="about-me-container">

  <section class="about-me">
    <h2 class="heading">
      About Me
    </h2>
    <hr>
    <p class="content" [innerHTML]="aboutMe.AboutMe">
      {{aboutMe.AboutMe}}
    </p>
  </section>

  <section class="timeline-container">
    <h2 class="heading">
      Evolution
    </h2>
    <hr>
    <div class="wrapper">

      <div class="center-line">
        <a href="#" class="scroll-icon"><i class="fas fa-caret-up"></i></a>
      </div>

      <!-- 2022 -->
      <div class="row row-1">
        <section>
          <i class="icon fas fa-home"></i>
          <div class="details">
            <h2 class="title"> {{aboutMe.Timeline[8].Date}} </h2>
          </div>
          <p>
            {{aboutMe.Timeline[8].Description}}
          </p>
        </section>
      </div>

      <!-- 2021 -->
      <div class="row row-2">
        <section>
          <i class="icon fas fa-star"></i>
          <div class="details">
            <h2 class="title">{{aboutMe.Timeline[7].Date}}</h2>
          </div>
          <p>
            {{aboutMe.Timeline[7].Description}}
          </p>
        </section>
      </div>

      <!-- 2020 -->
      <div class="row row-1">
        <section>
          <i class="icon fas fa-star"></i>
          <div class="details">
            <h2 class="title">{{aboutMe.Timeline[6].Date}}</h2>
          </div>
          <p>
            {{aboutMe.Timeline[6].Description}}
          </p>
        </section>
      </div>

      <!-- 2019 -->
      <div class="row row-2">
        <section>
          <i class="icon fas fa-star"></i>
          <div class="details">
            <h2 class="title">{{aboutMe.Timeline[5].Date}}</h2>
          </div>
          <p>
            {{aboutMe.Timeline[5].Description}}
          </p>
        </section>
      </div>

      <!-- 2018 -->
      <div class="row row-1">
        <section>
          <i class="icon fas fa-star"></i>
          <div class="details">
            <h2 class="title">{{aboutMe.Timeline[4].Date}}</h2>
          </div>
          <p>
            {{aboutMe.Timeline[4].Description}}
          </p>
        </section>
      </div>

      <!-- 2017 -->
      <div class="row row-2">
        <section>
          <i class="icon fas fa-star"></i>
          <div class="details">
            <h2 class="title">{{aboutMe.Timeline[3].Date}}</h2>
          </div>
          <p>
            {{aboutMe.Timeline[3].Description}}
          </p>
        </section>
      </div>

      <!-- 2016 -->
      <div class="row row-1">
        <section>
          <i class="icon fas fa-star"></i>
          <div class="details">
            <h2 class="title">{{aboutMe.Timeline[2].Date}}</h2>
          </div>
          <p>
            {{aboutMe.Timeline[2].Description}}
          </p>
        </section>
      </div>

      <!-- 2015 -->
      <div class="row row-2">
        <section>
          <i class="icon fas fa-star"></i>
          <div class="details">
            <h2 class="title">{{aboutMe.Timeline[1].Date}}</h2>
          </div>
          <p>
            {{aboutMe.Timeline[1].Description}}
          </p>
        </section>
      </div>

      <!-- 2014 -->
      <div class="row row-1">
        <section>
          <i class="icon fas fa-star"></i>
          <div class="details">
            <h2 class="title">{{aboutMe.Timeline[0].Date}}</h2>
          </div>
          <p>
            {{aboutMe.Timeline[0].Description}}
          </p>
        </section>
      </div>

    </div>


  </section>

</section>

<app-loading *ngIf="loading"></app-loading>
