<section class="footer-container">

  <section class="contact-section">

    <div class="contact-heading">
      <h2>Contact Me</h2>
    </div>

    <form action="" class="contact-form">
      <div class="inputs">
        <!-- Name -->
        <input type="text" class="text" placeholder="Name">
        <!-- Email -->
        <input type="text" class="text" placeholder="Email">
        <!-- Message -->
        <input type="text" class="message" placeholder="Message">
      </div>
      <button class="submit">
        <img src="https://cdn-icons-png.flaticon.com/512/545/545682.png" alt="">
      </button>
    </form>
  </section>


  <section class="closing-info">

    <div class="bonganibg">
      <img src="/assets/logo.svg" alt="">
      <h3>BonganiBG</h3>
    </div>

    <div class="socials">
      <ul>
        <li>
          <a href="">
            <img src="/assets/logos/github.svg" alt="">
          </a>
        </li>
        <li>
          <a href="">
            <img src="/assets/logos/github.svg" alt="">
          </a>
        </li>
        <li>
          <a href="">
            <img src="/assets/logos/github.svg" alt="">
          </a>
        </li>
      </ul>
    </div>

    <div class="contact">
      <p class="email">bongani.gumbo@yahoo.com</p>
    </div>

  </section>
</section>
