<section class="footer-container">

  <section class="contact-section">

    <div class="contact-heading">
      <h2>Contact Me</h2>
    </div>

    <form class="contact-form" #sendMessage="ngForm" novalidate>
      <div class="inputs">
        <!-- Name -->
        <input required type="text" pattern="^[a-zA-Z0=9\s-]+$"
        ngmodel name="inputName" placeholder="Name" maxlength="30"  class="text"
        >
        <!-- Email -->
        <input required type="text" pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$"
        ngModel name="inputEmail" maxlength="60" class="text" placeholder="Email" >
        <!-- Message -->
        <textarea name="inputMessage" pattern="^[a-zA-Z0=9\s-]+$" placeholder="Message" class="message" cols="30" rows="10"></textarea>
      </div>
      <button class="button-sub" type="button" (click)="getFormInfo(sendMessage)">
        <img src="https://cdn-icons-png.flaticon.com/512/545/545682.png" alt="">
      </button>
    </form>
  </section>


  <section class="closing-info">

    <div class="bonganibg">
      <img src="/assets/logo.svg" alt="">
      <h3>BonganiBG</h3>
    </div>

    <div class="socials">
      <ul>
        <li>
          <a href="http://www.linkedin.com/in/bongani-gumbo-85021222a" target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/512/220/220343.png" alt="">
          </a>
        </li>
        <li>
          <a href="http://www.github.com/bonganibg" target="_blank">
            <img src="/assets/logos/github.svg" alt="">
          </a>
        </li>
        <li>
          <a href="http://www.instagram.com/bonganibg" target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/512/1077/1077042.png" alt="">
          </a>
        </li>
      </ul>
    </div>

    <div class="contact">
      <p class="email">bongani.gumbo@yahoo.com</p>
    </div>

  </section>
</section>
