<section class="bg-white-100 h-[90vh]">
  <div class="w-full h-full flex justify-between lg:px-52 px-10">
    <div class="content flex flex-col justify-between">

      <div class=""></div>

      <div class="text-content">
        <p class="text-grey-300 text-md mb-2">
          {{content.small_header}}
        </p>
        <h2 class="text-grey-300 text-5xl lg:text-6xl mb-4" [innerHTML]="content.big_header">
          {{content.big_header}}
        </h2>
        <p class="text-grey-100 max-w-2xl mb-10">
          {{content.paragraph}}
        </p>

        <a [routerLink]="'/projects'" class="text-2xl text-grey-100 hover:text-white-400">
          Projects &rarr;
        </a>
      </div>

      <div class="links flex gap-2 text-lg underline mb-10 text-white-400">
        <a href="https://www.github.com/bonganibg" target="_blank" class="hover:text-grey-100">Github</a>
        <p>/</p>
        <a href="https://www.linkedin.com/in/bonganibg" target="_blank" class="hover:text-grey-100">Linkedin</a>
        <p>/</p>
        <a href="mailto:bonganibg@proton.me" class="hover:text-grey-100">Email</a>
      </div>

    </div>

    <div class="logo-container hidden lg:flex my-auto">
      <svg width="400" height="614" viewBox="0 0 400 614" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M130.912 306.422L265.531 172.871L340.554 248.383L299.358 248.383L265.531 216.508L173.176 307.445L265.531 398.991L328.043 335.977L274.945 335.977L274.945 307.445L399.127 307.445L265.531 441.041L130.912 306.422Z"
          fill="#444444" />
        <path
          d="M91.8519 0L254.5 163.106L119.316 305.537V260.298L214.982 163.106L119.316 66.9817V544.093L212.694 450.715L119.316 355.964V307.75L257.246 450.715L91.8519 613.669V0Z"
          fill="#444444" />
        <circle cx="37.6868" cy="306.529" r="37.6868" fill="#444444" />
      </svg>

    </div>
  </div>


</section>
