<main>
  <section class="my-projects-page-container">
    <!-- Heading section -->
    <div class="my-projects-header">
      <h2>
        Take a look at my projects, they're not much, but its all I have
      </h2>
    </div>


    <div class="my-projects-list-container">
            <!-- list of projects -->
        <ul class="projects-list">
          <!-- List item -->
          <li>
            <div class="project">

              <!-- Project image -->
              <img src="/assets/appbanner.png" alt="">

              <!-- Name and description -->
              <div class="project-information">

                <!-- Name -->
                <h3 class="name">
                    MiBo Maps
                </h3>

                <!-- Project Summary -->
                <p class="summary">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam possimus, vero minus in quidem expedita accusamus quae deserunt culpa delectus officia labore est magnam. Eligendi reiciendis aspernatur autem libero blanditiis.
                </p>
              </div>


              <!-- Project links -->
              <div class="links">
                <!-- Github and live Links -->
                <div class="external-links">
                  <!-- Github lnk -->
                  <a href="">
                    <div class="ext-link">
                      <h3 class="link-name">
                        Github
                      </h3>
                    </div>
                  </a>

                  <!-- live Link -->
                  <a href="">
                    <div class="ext-link">
                      <h3 class="link-name">
                        Live
                      </h3>
                    </div>
                  </a>

                </div>

                <!-- View Project Link -->
                <a href="">
                  <h3 class="view-project">
                    view project &rarr;
                  </h3>
                </a>
              </div>
            </div>
          </li>




          <!-- DUMMY -->
          <!-- List item -->
          <li>
            <div class="project">

              <!-- Project image -->
              <img src="/assets/appbanner.png" alt="">

              <!-- Name and description -->
              <div class="project-information">

                <!-- Name -->
                <h3 class="name">
                    MiBo Maps
                </h3>

                <!-- Project Summary -->
                <p class="summary">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam possimus, vero minus in quidem expedita accusamus quae deserunt culpa delectus officia labore est magnam. Eligendi reiciendis aspernatur autem libero blanditiis.
                </p>
              </div>


              <!-- Project links -->
              <div class="links">
                <!-- Github and live Links -->
                <div class="external-links">
                  <!-- Github lnk -->
                  <a href="">
                    <div class="ext-link">
                      <h3 class="link-name">
                        Github
                      </h3>
                    </div>
                  </a>

                  <!-- live Link -->
                  <a href="">
                    <div class="ext-link">
                      <h3 class="link-name">
                        Live
                      </h3>
                    </div>
                  </a>

                </div>

                <!-- View Project Link -->
                <a href="">
                  <h3 class="view-project">
                    view project &rarr;
                  </h3>
                </a>
              </div>
            </div>
          </li>
          <!-- List item -->
          <li>
            <div class="project">

              <!-- Project image -->
              <img src="/assets/appbanner.png" alt="">

              <!-- Name and description -->
              <div class="project-information">

                <!-- Name -->
                <h3 class="name">
                    MiBo Maps
                </h3>

                <!-- Project Summary -->
                <p class="summary">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam possimus, vero minus in quidem expedita accusamus quae deserunt culpa delectus officia labore est magnam. Eligendi reiciendis aspernatur autem libero blanditiis.
                </p>
              </div>


              <!-- Project links -->
              <div class="links">
                <!-- Github and live Links -->
                <div class="external-links">
                  <!-- Github lnk -->
                  <a href="">
                    <div class="ext-link">
                      <h3 class="link-name">
                        Github
                      </h3>
                    </div>
                  </a>

                  <!-- live Link -->
                  <a href="">
                    <div class="ext-link">
                      <h3 class="link-name">
                        Live
                      </h3>
                    </div>
                  </a>

                </div>

                <!-- View Project Link -->
                <a href="">
                  <h3 class="view-project">
                    view project &rarr;
                  </h3>
                </a>
              </div>
            </div>
          </li>
          <!-- List item -->
          <li>
            <div class="project">

              <!-- Project image -->
              <img src="/assets/appbanner.png" alt="">

              <!-- Name and description -->
              <div class="project-information">

                <!-- Name -->
                <h3 class="name">
                    MiBo Maps
                </h3>

                <!-- Project Summary -->
                <p class="summary">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam possimus, vero minus in quidem expedita accusamus quae deserunt culpa delectus officia labore est magnam. Eligendi reiciendis aspernatur autem libero blanditiis.
                </p>
              </div>


              <!-- Project links -->
              <div class="links">
                <!-- Github and live Links -->
                <div class="external-links">
                  <!-- Github lnk -->
                  <a href="">
                    <div class="ext-link">
                      <h3 class="link-name">
                        Github
                      </h3>
                    </div>
                  </a>

                  <!-- live Link -->
                  <a href="">
                    <div class="ext-link">
                      <h3 class="link-name">
                        Live
                      </h3>
                    </div>
                  </a>

                </div>

                <!-- View Project Link -->
                <a href="">
                  <h3 class="view-project">
                    view project &rarr;
                  </h3>
                </a>
              </div>
            </div>
          </li>
          <!-- List item -->
          <li>
            <div class="project">

              <!-- Project image -->
              <img src="/assets/appbanner.png" alt="">

              <!-- Name and description -->
              <div class="project-information">

                <!-- Name -->
                <h3 class="name">
                    MiBo Maps
                </h3>

                <!-- Project Summary -->
                <p class="summary">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam possimus, vero minus in quidem expedita accusamus quae deserunt culpa delectus officia labore est magnam. Eligendi reiciendis aspernatur autem libero blanditiis.
                </p>
              </div>


              <!-- Project links -->
              <div class="links">
                <!-- Github and live Links -->
                <div class="external-links">
                  <!-- Github lnk -->
                  <a href="">
                    <div class="ext-link">
                      <h3 class="link-name">
                        Github
                      </h3>
                    </div>
                  </a>

                  <!-- live Link -->
                  <a href="">
                    <div class="ext-link">
                      <h3 class="link-name">
                        Live
                      </h3>
                    </div>
                  </a>

                </div>

                <!-- View Project Link -->
                <a href="">
                  <h3 class="view-project">
                    view project &rarr;
                  </h3>
                </a>
              </div>
            </div>
          </li>
          <!-- List item -->
          <li>
            <div class="project">

              <!-- Project image -->
              <img src="/assets/appbanner.png" alt="">

              <!-- Name and description -->
              <div class="project-information">

                <!-- Name -->
                <h3 class="name">
                    MiBo Maps
                </h3>

                <!-- Project Summary -->
                <p class="summary">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam possimus, vero minus in quidem expedita accusamus quae deserunt culpa delectus officia labore est magnam. Eligendi reiciendis aspernatur autem libero blanditiis.
                </p>
              </div>


              <!-- Project links -->
              <div class="links">
                <!-- Github and live Links -->
                <div class="external-links">
                  <!-- Github lnk -->
                  <a href="">
                    <div class="ext-link">
                      <h3 class="link-name">
                        Github
                      </h3>
                    </div>
                  </a>

                  <!-- live Link -->
                  <a href="">
                    <div class="ext-link">
                      <h3 class="link-name">
                        Live
                      </h3>
                    </div>
                  </a>

                </div>

                <!-- View Project Link -->
                <a href="">
                  <h3 class="view-project">
                    view project &rarr;
                  </h3>
                </a>
              </div>
            </div>
          </li>
          <!-- List item -->
          <li>
            <div class="project">

              <!-- Project image -->
              <img src="/assets/appbanner.png" alt="">

              <!-- Name and description -->
              <div class="project-information">

                <!-- Name -->
                <h3 class="name">
                    MiBo Maps
                </h3>

                <!-- Project Summary -->
                <p class="summary">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam possimus, vero minus in quidem expedita accusamus quae deserunt culpa delectus officia labore est magnam. Eligendi reiciendis aspernatur autem libero blanditiis.
                </p>
              </div>


              <!-- Project links -->
              <div class="links">
                <!-- Github and live Links -->
                <div class="external-links">
                  <!-- Github lnk -->
                  <a href="">
                    <div class="ext-link">
                      <h3 class="link-name">
                        Github
                      </h3>
                    </div>
                  </a>

                  <!-- live Link -->
                  <a href="">
                    <div class="ext-link">
                      <h3 class="link-name">
                        Live
                      </h3>
                    </div>
                  </a>

                </div>

                <!-- View Project Link -->
                <a href="">
                  <h3 class="view-project">
                    view project &rarr;
                  </h3>
                </a>
              </div>
            </div>
          </li>

        </ul>

    </div>
  </section>
</main>
