<main>
  <section class="my-projects-page-container">
    <!-- Heading section -->
    <div class="my-projects-header">
      <h2>
        PROJECTS
      </h2>
    </div>


    <div class="my-projects-list-container">
            <!-- list of projects -->
        <ul class="projects-list">
          <!-- List item -->
          <li *ngFor="let project of projects">
            <div class="project">
              <div class="image-container">
                <app-selection-loader *ngIf="!loaded" cWidth="250" cHegiht="200"></app-selection-loader>
                <!-- Project image -->
                <img *ngIf="loaded" src={{project.Image[0]}} alt="project">
              </div>

              <!-- Name and description -->
              <div class="project-information">
                <app-selection-loader *ngIf="!loaded" cWidth="300" cHegiht="50"></app-selection-loader>
                <!-- Name -->
                <h3 *ngIf="loaded" class="name">
                  {{project.Name}}
                </h3>

                <!-- Project Summary -->
                <p *ngIf="loaded" class="summary" [innerHTML]="project.Description">
                  {{project.Description}}
                </p>
              </div>


              <!-- Project links -->
              <div class="links">
                <!-- Github and live Links -->
                <div class="external-links">
                  <!-- Github lnk -->
                  <a href="{{project.Github.link}}"  *ngIf="project.Github.available" target="_blank">
                    <div class="ext-link">
                      <h3 class="link-name">
                        Github
                      </h3>
                    </div>
                  </a>

                  <!-- live Link -->
                  <a href="{{project.Live.link}}" *ngIf="project.Live.available" target="_blank">
                    <div class="ext-link">
                      <h3 class="link-name">
                        Live
                      </h3>
                    </div>
                  </a>

                </div>

                <!-- View Project Link -->
                <a *ngIf="loaded" href="{{project.Blog}}" target="_blank">
                  <h3 class="view-project">
                    project blog &rarr;
                  </h3>
                </a>
              </div>

              <ul class="list-technologies" >
                <li class="technologies" *ngFor="let tech of project.Technologies">
                  <img src={{tech}} alt="">
                </li>
              </ul>
            </div>
          </li>
        </ul>

    </div>
  </section>
</main>
