main
{
  height: 100vh;
  .my-projects-page-container
  {
    // Projects header
    .my-projects-header{
      height: 25vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #EEE;
      h2{
        font-size: 2em;
        font-family: "Nixie One";
        margin: 0px;
      }
    }
    // list of projects
    .my-projects-list-container{
      margin-top: 30px;
      width: 100%;
      .projects-list{
        grid-column: 2;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        gap: 30px;
        margin: 0px 15%;
        @media only screen and (max-width: 614px){
          grid-template-columns: repeat(auto-fit, minmax(348px, 1fr));
        }
        @media only screen and (max-width: 614px) {
          margin: 0px;
        }
        // list item
        li{
          display: flex;
          justify-content: center;
          margin: 0px auto;
          height: 630px;
          width: 485px;
          @media only screen and (max-width: 614px) {
              width: 385px;
              height: 530px;
            }
        }
      }
    }
  }
}
