<main>
  <section class="my-projects-page-container">
    <!-- Heading section -->
    <div class="my-projects-header">
      <h2>
        PROJECTS
      </h2>
    </div>


    <div class="my-projects-list-container">
            <!-- list of projects -->
        <ul class="projects-list">
          <!-- List item -->
          <li *ngFor="let project of projects">
            <div class="project">

              <!-- Project image -->
              <img src={{project.Image[0]}} alt="">

              <!-- Name and description -->
              <div class="project-information">

                <!-- Name -->
                <h3 class="name">
                  <!-- {{project.Name}} -->
                </h3>

                <!-- Project Summary -->
                <p class="summary">
                  {{project.Description}}
                </p>
              </div>


              <!-- Project links -->
              <div class="links">
                <!-- Github and live Links -->
                <div class="external-links">
                  <!-- Github lnk -->
                  <a href="{{project.Github.link}}"  *ngIf="project.Github.available" target="_blank">
                    <div class="ext-link">
                      <h3 class="link-name">
                        Github
                      </h3>
                    </div>
                  </a>

                  <!-- live Link -->
                  <a href="{{project.Live.link}}" *ngIf="project.Live.available" target="_blank">
                    <div class="ext-link">
                      <h3 class="link-name">
                        Live
                      </h3>
                    </div>
                  </a>

                </div>

                <!-- View Project Link -->
                <a  href="{{project.Blog}}" target="_blank">
                  <h3 class="view-project">
                    view project &rarr;
                  </h3>
                </a>
              </div>
            </div>
          </li>
        </ul>

    </div>
  </section>
</main>
