<section class="px-4 lg:px-36 mt-44">
    <div class="flex flex-col lg:flex-row gap-5 lg:gap-0 justify-between">
        <h2 class="text-4xl lg:text-5xl text-grey-300">
            Projects
        </h2>
        <div class="tabs gap-4">
            <!-- <a (click)="filterProjects('')" class="px-0 tab tab-active">All</a> -->
            <!-- <a (click)="filterProjects(item._id)" *ngFor="let item of tags" class="px-0 tab"> {{item.name}} </a> -->
        </div>
    </div>
    <hr class="border border-1 border-white-300 my-8">

    <div class="flex flex-col gap-8 lg:gap-20">

      <div class="" *ngIf="!hasLoaded; else showProjects">
        <app-project-skeleton-loader *ngFor="let item of [1,1,1,1,1]"></app-project-skeleton-loader>
      </div>

      <ng-template #showProjects>
        <div *ngFor="let item of projects">
          <app-project-card [project]="item"></app-project-card>
        </div>
      </ng-template>
    </div>

</section>

<ng-template [ngIf]="showProjectDetails">
  <section (click)="toggleProjectDetails()" class="h-[100vh] w-[100vw] fixed top-0 left-0 z-50 flex flex-row justify-center align-middle p-5 backdrop-blur-sm">
    <app-project-description class="flex flex-row justify-center my-auto h-auto w-full md:h-[675px] md:w-[700px] bg-white-100 border border-1 border-grey-100"></app-project-description>
  </section>
</ng-template>
