<section class="skills-page-container">


  <section class="text-scrolling">

    <div class="scrolling-effect">
      <h2 class="scroll-left">
        SKILLS SKILLS SKILLS SKILLS SKILLS SKILLS SKILLS SKILLS
      </h2>

      <h2 class="scroll-right">
        SKILLS SKILLS SKILLS SKILLS SKILLS SKILLS SKILLS SKILLS
      </h2>
    </div>
  </section>




  <!-- Skills section -->
  <section class="skills-section">

    <!-- Design -->
    <div class="skills skills-left">

      <!-- Skill Image -->
      <div class="skill-image">
        <img src="{{skillsData.Design.Image}}" alt="">
      </div>

      <!-- Skill Text -->
      <div class="skill-information">
        <!-- Skill Name -->
        <h2 class="skill-name">
          {{skillsData.Design.Heading}}
        </h2>
        <!-- Skill Description -->
        <p class="skill-description">
          {{skillsData.Design.Description}}
        </p>

        <!-- Sub Heading -->
        <h2 class="headline">
          {{skillsData.Design.Design.headline}}
        </h2>

        <!-- Skills -->
        <ul class="list-of-tools" >
          <li *ngFor="let skill of skillsData.Design.Design.experience">
            {{skill}}
          </li>
        </ul>

        <!-- Sub Heading -->
        <h2 class="headline">
          {{skillsData.Design.Implementation.headline}}
        </h2>

        <!-- Skills -->
        <ul class="list-of-tools" >
          <li *ngFor="let language of skillsData.Design.Implementation.languages">
            {{language}}
          </li>
        </ul>

        <!-- Sub Heading -->
        <h2 class="headline">
          Frameworks
        </h2>

        <!-- Skills -->
        <ul class="list-of-tools" >
          <li *ngFor="let framework of skillsData.Design.Implementation.frameworks">
            {{framework}}
          </li>
        </ul>


      </div>
    </div>


     <!-- Programming -->
    <div class="skills skills-right">

       <!-- Skill Image -->
        <div class="skill-image">
          <img src="{{skillsData.Programming.Image}}" alt="">
        </div>

        <!-- Skill Text -->
        <div class="skill-information">
          <!-- Skill Name -->
          <h2 class="skill-name">
            {{skillsData.Programming.Heading}}
          </h2>
          <!-- Skill Description -->
          <p class="skill-description">
            {{skillsData.Programming.Description}}
          </p>

          <!-- Languages -->
          <h2 class="headline">
            {{skillsData.Programming.Languages.headline}}
          </h2>

          <ul class="list-of-tools" >
            <li *ngFor="let language of skillsData.Programming.Languages.languages">{{language}}</li>
          </ul>

          <!-- Languages -->
          <h2 class="headline">
            Frameworks
          </h2>

          <ul class="list-of-tools" >
            <li *ngFor="let frameworks of skillsData.Programming.Frameworks.frameworks">  {{frameworks}} </li>
          </ul>
        </div>
    </div>


     <!-- Database and networking -->
     <div class="skills skills-left">

      <!-- Skill Image -->
       <div class="skill-image">
         <img src="{{skillsData.Database.Image}}" alt="">
       </div>

       <!-- Skill Text -->
       <div class="skill-information">
         <!-- Skill Name -->
         <h2 class="skill-name">
          {{skillsData.Database.Heading}}
         </h2>
         <!-- Skill Description -->
         <p class="skill-description">
          {{skillsData.Database.Description}}
         </p>

         <!-- Database languages -->
         <h2 class="headline">
          {{skillsData.Database.Languages.headline}}
         </h2>

         <ul class="list-of-tools" >
           <li *ngFor="let language of skillsData.Database.Languages.languages">{{language}}</li>
         </ul>

         <!-- Database Software -->
         <h2 class="headline">
          {{skillsData.Database.Software.headline}}
        </h2>

        <ul class="list-of-tools" >
          <li *ngFor="let software of skillsData.Database.Software.systems">{{software}}</li>
        </ul>

        <!-- Database Cloud -->
        <h2 class="headline">
          {{skillsData.Database.Cloud.headline}}
        </h2>

        <ul class="list-of-tools" >
          <li *ngFor="let cloud of skillsData.Database.Cloud.platforms">{{cloud}}</li>
        </ul>


       </div>
   </div>
  </section>


</section>
