<section class="flex flex-col gap-5 lg:gap-10">

  <div *ngIf="!hasLoaded; else showAbout">
    <div role="status" class="p-4  animate-pulse md:p-6" *ngFor="item of [1,1,1,1,1]">
      <div class="h-2.5 bg-white-400 rounded-full w-48 mb-4"></div>
      <div class="h-2 bg-white-400 rounded-full  mb-2.5"></div>
      <div class="h-2 bg-white-400 rounded-full  mb-2.5"></div>
      <div class="h-2 bg-white-400 rounded-full  mb-2.5 w-[90%]"></div>
    </div>
  </div>

  <ng-template #showAbout>
    <div [id]="item._id" class="flex flex-col gap-2 lg:gap-4 self-start" *ngFor="let item of aboutMe">
      <h2 class="text-2xl lg:text-4xl font-light">
        {{item.heading}}
      </h2>
      <p class="font-thin text-xs lg:text-sm" [innerHTML]="item.paragraph">
        {{item.paragraph}}
      </p>
  </div>
  </ng-template>
</section>
