<section class="nav-bar-container">
  <!-- LOGO -->
  <img src="" alt="">

  <!-- Page links -->
  <ul class="page-links">

    <!-- Individual Page Link -->
    <li class="link">
      <a href="">
        <div class="link-info">
          <!-- Page Name -->
          <p>Home</p>
          <!-- On Select and on hover button -->
          <div class="dot"></div>
        </div>
      </a>
    </li>

    <!-- Individual Page Link -->
    <li class="link">
      <a href="">
        <div class="link-info">
          <!-- Page Name -->
          <p>Work</p>
          <!-- On Select and on hover button -->
          <div class="dot"></div>
        </div>
      </a>
    </li>

    <!-- Individual Page Link -->
    <li class="link">
      <a href="">
        <div class="link-info">
          <!-- Page Name -->
          <p>About</p>
          <!-- On Select and on hover button -->
          <div class="dot"></div>
        </div>
      </a>
    </li>

    <!-- Individual Page Link -->
    <li class="link">
      <a href="">
        <div class="link-info">
          <!-- Page Name -->
          <p>Contact</p>
          <!-- On Select and on hover button -->
          <div class="dot"></div>
        </div>
      </a>
    </li>

  </ul>

  <div class="space"></div>
</section>
