  <section
    class="flex flex-col justify-center gap-8 bg-white my-auto rounded-sm p-14">
    <!-- Heading -->
    <div class="">
      <div class="flex flex-row justify-start gap-4">
        <hr class="border-black w-10 my-auto bg-grey-200">

        <h2 class="text-3xl text-grey-300"> {{projectDetails.title}} </h2>
      </div>

      <ul class="flex flex-wrap gap-2">
        <li class="flex justify-center items-center px-3 py-1 border border-1 border-grey-100 rounded-2xl"
        *ngFor="let platform of projectDetails.platform">
          <p class="cursor-pointer text-[13px] text-grey-100">
            {{platform}}
          </p>
        </li>
      </ul>
    </div>

    <!-- Text Body -->
    <div class="">
      <p class="text-sm">
        {{projectDetails.description}}
      </p>
    </div>

    <!-- Technologies -->
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-1">
          <h2 class="text-2xl text-grey-100 font-mono">Language</h2>
          <hr class="border-black w-10 my-auto">
        </div>

        <ul class="flex flex-wrap gap-2">
          <li class="flex justify-center items-center px-3 py-1 border border-1 border-grey-100 rounded-2xl"
           *ngFor="let language of projectDetails.language">
            <p class="cursor-pointer text-[13px] text-grey-100">
              {{language}}
            </p>
          </li>
        </ul>
      </div>

      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-1">
          <h2 class="text-2xl text-grey-100 font-mono">Tools</h2>
          <hr class="border-black w-10 my-auto">
        </div>

        <ul class="flex flex-wrap gap-2">
          <li class="flex justify-center items-center px-3 py-1 border border-1 border-grey-100 rounded-2xl"
            *ngFor="let tool of projectDetails.tools">
            <p class="cursor-pointer text-[13px] text-grey-100">
              {{tool}}
            </p>
          </li>
        </ul>
      </div>
    </div>

    <!-- Links -->
    <div class="flex justify-end text-grey-200">
      <a href="">
        github →
      </a>
    </div>
  </section>
