.loading-container{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;

  .loader{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 1;

    img{
      height: 150px;
      width: 150px;
    }
    p{
      font-family: 'Nixie One';
      font-size: 1.5em;
    }
  }

  .background-logo{
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;
    svg{
      height: 100%;
      width: 100%;
      object-fit: contain;
      .trace{
        fill: rgb(233, 233, 233);
      }

    }
  }
}
