<nav *ngIf="!toggleOn; else menu" class="w-[100vw] h-[6vh] bg-white-100 flex justify-between items-center px-20">
    <div class="class text-[#444444] p-2 h-[6vh]">
        <a href="">
            <svg viewBox="0 0 400 614" fill="currentColor" class="h-full" xmlns="http://www.w3.org/2000/svg">
                <path d="M130.912 306.422L265.531 172.871L340.554 248.383L299.358 248.383L265.531 216.508L173.176 307.445L265.531 398.991L328.043 335.977L274.945 335.977V307.445L399.127 307.445L265.531 441.041L130.912 306.422Z"/>
                <path d="M91.8519 0L254.5 163.106L119.316 305.537V260.298L214.982 163.106L119.316 66.9817V544.093L212.694 450.715L119.316 355.964V307.75L257.246 450.715L91.8519 613.669V0Z"/>
                <circle cx="37.6868" cy="306.529" r="37.6868"/>
            </svg>
        </a>
    </div>

    <div class="">
      <button (click)="toggleMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </button>
    </div>
</nav>

<ng-template #menu>
  <section class="w-[100vw] h-[100vh] bg-white-100 flex justify-center items-center overflow-hidden relative top-0 left-0">

    <div class="absolute top-0 right-0 my-4 mx-20">
      <button (click)="toggleMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </button>
    </div>

    <ul class="flex flex-col gap-3 font-semibold text-grey-300">
      <li>
          <a href="">
              <p class="hover:text-white-400">
                  Home
              </p>
          </a>
      </li>
      <li>
          <a href="about">
              <p class="hover:text-white-400">
                  About
              </p>
          </a>
      </li>
      <li>
          <a href="projects">
              <p class="hover:text-white-400">
                  Projects
              </p>
          </a>
      </li>
    </ul>
  </section>
</ng-template>
