<nav class="w-full h-[6vh] bg-white-100 flex justify-between items-center px-20">
    <div class="class text-[#444444] p-2 h-[6vh]">
        <a href="">
            <svg viewBox="0 0 400 614" fill="currentColor" class="h-full" xmlns="http://www.w3.org/2000/svg">
                <path d="M130.912 306.422L265.531 172.871L340.554 248.383L299.358 248.383L265.531 216.508L173.176 307.445L265.531 398.991L328.043 335.977L274.945 335.977V307.445L399.127 307.445L265.531 441.041L130.912 306.422Z"/>
                <path d="M91.8519 0L254.5 163.106L119.316 305.537V260.298L214.982 163.106L119.316 66.9817V544.093L212.694 450.715L119.316 355.964V307.75L257.246 450.715L91.8519 613.669V0Z"/>
                <circle cx="37.6868" cy="306.529" r="37.6868"/>
            </svg>
        </a>
    </div>

    <ul class="flex gap-3 font-semibold text-grey-300">
        <li>
            <a href="">
                <p class="hover:text-white-400">
                    Home
                </p>
            </a>
        </li>
        <li>
            <a href="">
                <p class="hover:text-white-400">
                    About
                </p>
            </a>
        </li>
        <li>
            <a href="projects">
                <p class="hover:text-white-400">
                    Projects
                </p>
            </a>
        </li>
    </ul>
</nav>
