<main class="project-information-page">

  <!-- Project information -->
<section class="project-summary-section">
  <!-- Basic information/ Name, desc, img -->
  <div class="project-information-container">
    <!-- Heading and project description -->
    <div class="project-information">
      <!-- Name -->
      <h2 class="project-name">
        {{project.Name}}
      </h2>
      <!-- Description -->
      <p class="project-description">
        {{project.Description.summary}}
      </p>
    </div>

    <!-- Project image -->
    <div class="project-image">
      <img src={{project.Image[0]}} alt="">
    </div>
  </div>

  <hr>
  <!-- Project details and roles -->
  <div class="project-details-container">
    <!-- Details about the project/ Platform, client, status  -->
    <div class="project-details">
      <h2 class="details-header">
        Detail
      </h2>

      <ul class="details-list">
        <li><p>{{project.Client}} </p></li>
        <li><p>Platform: {{project.Platforms.toString()}} </p></li>
        <li><p>Status: Complete </p></li>
      </ul>

    </div>

    <!-- Role in the project -->
    <div class="project-details">
      <h2 class="details-header">
        Responsibilites
      </h2>

      <ul class="details-list" *ngFor="let response of project.Responsibilities">
        <li><p> {{response}} </p></li>
      </ul>
    </div>

    <!-- Technologies Used -->
    <div class="project-details">
      <h2 class="details-header">
        Languages & Technologies
      </h2>

      <ul class="details-list" *ngFor="let tech of project.Technologies">
        <li><p> {{tech}} </p></li>
      </ul>
    </div>
  </div>
  <hr>

</section>

<br>





<!-- Writing section -->
<section class="project-overview-container">

  <p class="paragraph">
    {{project.Description.overview}}
  </p>

</section>


<!-- Development Process -->
<section class="project-development-container" *ngFor="let proj of project.Description.full">
  <!-- Project information heading -->
  <h2 class="development-heading">
    {{proj.Subheading}}
  </h2>

  <div class="parag" *ngFor="let para of proj.Content">
    <p class="paragraph" >
      {{para.Paragraph}}
    </p>

    <ul class="development-list" *ngFor="let item of para.List">
      <li class="dev-li"> <p> {{item}} </p> </li>
    </ul>

  </div>


  <br>
  <br>




</section>



</main>
