<section class="project-info-container">

  <!-- Top heading section with the project image and information -->
  <section class="project-info-header">

    <!-- Project Header Image -->
    <img class="project-image" src="https://img.freepik.com/free-vector/set-modern-business-card-design-template_169798-1145.jpg?w=826" alt="">

    <!-- Main Project Information -->
    <div class="project-information">

        <div class="top-third">
            <!-- Project Type/Client -->
        <p class="client">
          Personal
        </p>

        <!-- Platforms -->
        <h1 class="platforms">
          Platform: Web
        </h1>

        <!-- Technologies used -->
        <ul class="technologies">
          <!-- Tech Item -->
          <li>
            <a class="tech" href="">
              <img src="https://cdn-icons-png.flaticon.com/512/6132/6132221.png" alt="">
            </a>
          </li>
          <!-- Tech Item -->
          <li>
            <a class="tech" href="">
              <img src="https://cdn-icons.flaticon.com/png/512/4299/premium/4299956.png?token=exp=1644835571~hmac=f6fbe5798ec2787fc8fbe63fcfb02329" alt="">
            </a>
          </li>
          <!-- Tech Item -->
          <li>
            <a class="tech" href="">
              <img src="https://cdn-icons-png.flaticon.com/512/873/873107.png" alt="">
            </a>
          </li>
        </ul>

      </div>

      <!-- Roles -->
      <div class="roles-container">
        <!-- Roles Heading -->
        <p class="roles-heading">
          Roles
        </p>
        <!-- List of roles -->
        <ul class="roles-list">
          <!-- Role Item -->
          <li>
            <p class="role">
              System Designer
            </p>
          </li>
          <!-- Role Item -->
          <li>
            <p class="role">
              System Designer
            </p>
          </li>
          <!-- Role Item -->
          <li>
            <p class="role">
              System Designer
            </p>
          </li>
          <!-- Role Item -->
          <li>
            <p class="role">
              System Designer
            </p>
          </li>
        </ul>
      </div>


      <h2 class="project-title">
        WorldScope.io
      </h2>
    </div>
  </section>





  <!-- Image slider -->
  <section class="image-slider-holder">


    <!-- Slider container -->
    <div class="slider-container">

      <span class="slider-span"></span>
      <span class="slider-span"></span>
      <span class="slider-span"></span>
      <span class="slider-span"></span>
      <span class="slider-span"></span>
      <span class="slider-span"></span>
      <span class="slider-span"></span>
      <span class="slider-span"></span>


      <div class="image-slider">

        <div class="slide-div">
          <img src="https://img.freepik.com/free-vector/set-modern-business-card-design-template_169798-1145.jpg?w=826" alt="">
        </div>
        <div class="slide-div">
          <img src="https://img.freepik.com/free-vector/set-modern-business-card-design-template_169798-1145.jpg?w=826" alt="">
        </div>
        <div class="slide-div">
          <img src="https://img.freepik.com/free-vector/set-modern-business-card-design-template_169798-1145.jpg?w=826" alt="">
        </div>
        <div class="slide-div">
          <img src="https://img.freepik.com/free-vector/set-modern-business-card-design-template_169798-1145.jpg?w=826" alt="">
        </div>
        <div class="slide-div">
          <img src="https://img.freepik.com/free-vector/set-modern-business-card-design-template_169798-1145.jpg?w=826" alt="">
        </div>
        <div class="slide-div">
          <img src="https://img.freepik.com/free-vector/set-modern-business-card-design-template_169798-1145.jpg?w=826" alt="">
        </div>
        <div class="slide-div">
          <img src="https://img.freepik.com/free-vector/set-modern-business-card-design-template_169798-1145.jpg?w=826" alt="">
        </div>
        <div class="slide-div">
          <img src="https://img.freepik.com/free-vector/set-modern-business-card-design-template_169798-1145.jpg?w=826" alt="">
        </div>


      </div>

    </div>


  </section>


</section>
