 .project-summary-section
  {
    display: flex;
    flex-direction: column;
    gap: 40px;
    grid-column: 2;
    hr{
      width: 90%;
    }
    .project-information-container{
      width: 100%;
      display: grid;
      align-items: center;
      grid-template-columns: 50% 50%;
      grid-template-rows: 100%;
      .project-information{
        grid-column: 1;
        display: flex;
        flex-direction: column;
        justify-content: start;
        .project-name{
          font-size: 2.5em;
          font-family: "Nixie One";
          margin: 0px;
        }
        .project-description{
          font-size: 1.1em;
          font-family: "Nixie One";
          margin: 5px 0px;
        }
      }
      .project-image{
        grid-column: 2;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: start;
        img{
          height: 100%;
          width: 100%;
          object-fit: scale-down;
        }
      }
      @media only screen and (max-width: 790px) {
        grid-template-rows: 50% 50%;
        grid-template-columns: 100%;
        .project-information{
          grid-column: 1;
          grid-row: 1;
        }
        .project-image{
          grid-column: 1;
          grid-row: 2;
        }
      }
    }
    .project-details-container{
      width: 100%;
      display: grid;
      margin-top: 10px;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      .project-details{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2{
          font-size: 1.2em;
          font-family: "Nixie One";
          margin: 0px;
        }
        .details-list{
          li{
            list-style: circle;
            margin-left: 20px ;
            p{
              font-family: "Lato";
              font-size: 0.8em;
              margin: 4px 0px;
            }}}}}}
