<main class="project-information-page">

  <!-- Project information -->
<section class="project-summary-section">
  <!-- Basic information/ Name, desc, img -->
  <div class="project-information-container">
    <!-- Heading and project description -->
    <div class="project-information">
      <!-- Name -->
      <h2 class="project-name">
        MiBo Maps
      </h2>
      <!-- Description -->
      <p class="project-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt assumenda nostrum nobis in, aliquam vel architecto maxime amet veniam eum ex similique cum, consequuntur, officia sit ipsam ratione laborum iure?
      </p>
    </div>

    <!-- Project image -->
    <div class="project-image">
      <img src="/assets/appbanner.png" alt="">
    </div>
  </div>

  <!-- Project details and roles -->
  <div class="project-details-container">
    <!-- Details about the project/ Platform, client, status  -->
    <div class="project-details">
      <h2 class="details-header">
        Detail
      </h2>

      <ul class="details-list">
        <li><p>Project Type: College Project</p></li>
        <li><p>Platform: Android</p></li>
        <li><p>Status: Complete</p></li>
      </ul>
    </div>

    <!-- Role in the project -->
    <div class="project-details">
      <h2 class="details-header">
        Responsibilites
      </h2>

      <ul class="details-list">
        <li><p> Research </p></li>
        <li><p> User Interface Design </p></li>
        <li><p> Database Design </p></li>
        <li><p> Codeing </p></li>
        <li><p> Deployment </p></li>
      </ul>
    </div>

    <!-- Technologies Used -->
    <div class="project-details">
      <h2 class="details-header">
        Languages & Technologies
      </h2>

      <ul class="details-list">
        <li><p>Android (Android Studio Java)</p></li>
        <li><p>Firebase</p></li>
        <li><p>Here API</p></li>
        <li><p>Google Maps API</p></li>
        <li><p>Git + Bitbucket</p></li>
      </ul>
    </div>
  </div>
</section>

<br>





<!-- Writing section -->
<section class="project-overview-container">

  <p class="paragraph">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum provident ullam voluptate deserunt quae eos nulla nesciunt earum, ratione optio quibusdam dolore! Praesentium quaerat ducimus voluptatum enim quam, ratione ipsa.

    <br>
    <br>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum provident ullam voluptate deserunt quae eos nulla nesciunt earum, ratione optio quibusdam dolore! Praesentium quaerat ducimus voluptatum enim quam, ratione ipsa.

  </p>

</section>




<!-- Development Process -->
<section class="project-development-container">
  <!-- Project information heading -->
  <h2 class="development-heading">
    Planning and Research
  </h2>

  <p class="paragraph">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum provident ullam voluptate deserunt quae eos nulla nesciunt earum, ratione optio quibusdam dolore! Praesentium quaerat ducimus voluptatum enim quam, ratione ipsa.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum provident ullam voluptate deserunt quae eos nulla nesciunt earum, ratione optio quibusdam dolore! Praesentium quaerat ducimus voluptatum enim quam, ratione ipsa.

    <br>
    <br>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum provident ullam voluptate deserunt quae eos nulla nesciunt earum, ratione optio quibusdam dolore! Praesentium quaerat ducimus voluptatum enim quam, ratione ipsa.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum provident ullam voluptate deserunt quae eos nulla nesciunt earum, ratione optio quibusdam dolore! Praesentium quaerat ducimus voluptatum enim quam, ratione ipsa.

    <br>
    <br>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum provident ullam voluptate deserunt quae eos nulla nesciunt earum, ratione optio quibusdam dolore! Praesentium quaerat ducimus voluptatum enim quam, ratione ipsa.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum provident ullam voluptate deserunt quae eos nulla nesciunt earum, ratione optio quibusdam dolore! Praesentium quaerat ducimus voluptatum enim quam, ratione ipsa.
  </p>

  <ul class="development-list">
    <li class="dev-li"> <p class="paragraph"> something</p> </li>
    <li class="dev-li"> <p class="paragraph"> something</p> </li>
    <li class="dev-li"> <p class="paragraph"> something</p> </li>
    <li class="dev-li"> <p class="paragraph"> something</p> </li>

  </ul>



</section>



</main>
