<section class="featured-projects-container">
  <!-- Featured Projects -->
  <section class="featured-projects">
    <!-- List of projects -->
    <ul class="list-projects">
      <!-- Project Item -->
      <li class="project-item" *ngFor="let project of projects">
        <div class="project" style="height: 100%;">
          <!-- Image container -->
          <div class="image-container" style="display: flex; justify-content: center; align-items: center;">
            <img src={{project.Image[0]}} alt="">
          </div>
          <!-- Content -->
          <div class="project-content">
            <div class="text-content">
              <!-- Client -->
              <p class="client">
                {{project.Client}}
              </p>
              <!-- name -->
              <h2 class="name">
                {{project.Name}}
              </h2>
              <!-- Platform -->
              <ul class="list-platforms">
                <li class="platform" *ngFor="let platform of project.Platforms">
                  <p> {{platform}} </p>
                </li>
              </ul>
              <!-- Project Description -->
              <p class="description">
                {{project.Description}}
              </p>
              <!-- Technologies Used -->
              <ul class="list-technologies">
                <li class="technologies">
                  <img src={{project.Technologies}} alt="">
                </li>

              </ul>
            </div>

            <!-- External Links -->
            <div class="links">
              <!-- Code and LIve -->
              <div class="code-and-live" style="display: flex; gap: 5px;">
                <a href="" style="width: auto;" *ngIf="project.Github.available" target="_blank">
                  <div class="ext-link">
                    <p class="link-name">Github</p>
                  </div>
                </a>
                <a href="" *ngIf="project.Live.available" target="_blank">
                  <div class="ext-link">
                    <p class="link-name">Live</p>
                  </div>
                </a>
              </div>

              <!-- View project -->
              <a href="{{project.Blog}}" class="view-projects" target="_blank">
                projects &rarr;
              </a>
            </div>
          </div>
        </div>
      </li>
      <div style="height: 30px;"></div>
    </ul>

  </section>

</section>
