@font-face {
  font-family: "Nixie One";
  src: local("NixieOne"), url(./assets/fonts/NixieOne-Regular.ttf) format("truetype");
}


@font-face {
  font-family: "Lato";
  src: local("Lato"), url(./assets/fonts/Lato-Regular.ttf) format("truetype");
}

a{
  text-decoration: none;
}

body{
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

li{
  list-style-type: none;
}

ul{
  margin: 0px;
  padding: 0px;
}
