/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Raleway";
    src: local("Raleway"), url(./assets/fonts/Raleway-Regular.ttf) format("truetype");
  }

  * {
    font-family: "Raleway";
  }
