main{
  overflow-x: hidden;

  $textColorOne: #444;
  $textColorTwo: #EEE;

  @keyframes transitionIn {
    from{
      opacity: 0;
      transform: rotateX(-10deg);
    }

    to {
      opacity: 1;
      transform: rotateX(0);
    }
  }

  .hero-section
  {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    padding: 0px 10%;
    background-color: #f8f9fa;
    overflow-x: hidden;
    @media screen and (max-width: 890px) {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 8vh;
    }
    .hero-text
    {
      grid-column: 1;
      margin: auto 0px;
      z-index: 1;
      @media screen and (max-width: 890px){
        font-size: 0.7em;
      }
      // Heading
      .hero-heading{
        font-size: 4em;
        margin: 0px;
        font-family: "Lato";
        font-weight: 100;
        letter-spacing: 10px;
      }
      // Information Text
      .hero-about{
        font-size: 18px;
        font-family: "Nixie One";
        width: 70%;
        margin: 20px 20%;
        @media screen and (max-width: 890px){
          font-size: 1.2em;
        }

      }
      // View projects link
      a{
        color: black  ;
        font-size: 22px;
        font-family: "Lato";
      }
    }


    // Logo and social links
    .hero-logo-links
    {
      grid-column: 2;
      display: flex;
      justify-content: end;


      // Big circle
      .hero-background-item{
        height: 40rem;
        width: 40rem;
        margin: auto;
        position: absolute;
        top: 30%;
        left: 45%;
        @media screen and (max-width: 890px){
          height: 0px;
          width: 0px;
        }
        svg{
          height: 80%;
          width: 80%;

          @media screen and (max-width: 890px) {
            visibility: hidden;
            height: 0px;
            width: 0px;
          }
        }
      }

      // Big Logo
      .hero-logo-big{
        z-index: 1;
        width: 50%;
        margin: auto;
      }

      // Social Media Links
      .hero-social-links{
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 30px;
        margin: auto 0px;

        img{
          height: 30px;
          width: 30px;
        }
      }

    }
  }
}

// Featured project container
.featured-projects-header
{
  margin-top: 30px;
   height: 50vh;
   background: #495057;
   display: flex;
   justify-content: center;
   align-items: center;

   color: #adb5bd;
  // Heading and description
  .featured-projects-content{
    text-align: center;

    .header-featured{
      font-size: 2.5em;
      margin: 0px;
      font-family: "Lato";
      font-weight: lighter;
    }

    .description-featured{
      font-size: 1.3em;
      margin: 10px 15%;
      font-family: "Nixie One";
    }

    .view-all-projects{
      height: 40px;
      width: 150px;
      background-color: #444;
      border-style: none;
      color: #FFF;
      font-family: "Nixie One";
    }


  }


}
