<section class="hero-section">

  <!-- Text information -->
  <div class="hero-text">
    <h2 class="hero-heading">
      software  & <br> web engineer
    </h2>
    <p class="hero-about">
      hi, i am bongani, i am a full stack engineer with experties in designing and developing web, desktop and mobile systems
    </p>

    <a href="" class="hero-view-projects">
      projects &rarr;
    </a>
  </div>


  <!-- Big Logo and links -->
  <div class="hero-logo-links">

    <!-- LOGO image -->
    <img class="hero-logo-image" src="https://cdn-icons.flaticon.com/png/512/5119/premium/5119014.png?token=exp=1644830180~hmac=8b33312ce8ac4b58be9a40c8ac425795" alt="">

    <!-- External links -->
    <ul class="hero-social-links">
      <!-- LinkedIn -->
      <li>
        <a href="">
          <img src="https://cdn-icons-png.flaticon.com/512/220/220343.png" alt="">
        </a>
      </li>

      <!-- GitHub -->
      <li>
        <a href="htttps://github.com/bonganibg">
          <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="">
        </a>
      </li>

      <!-- Instagram -->
      <li>
        <a href="https://instagram.com/bonganibg">
          <img src="https://cdn-icons-png.flaticon.com/512/1384/1384031.png" alt="">
        </a>
      </li>
    </ul>

  </div>
</section>


<!-- Skills section -->
<section class="skills-section">
  <!-- Left side heading -->
  <div class="left-side-heading">
    <p>S K I L L S</p>
  </div>


  <div class="skills-container">


    <!-- Skill One -->
  <div class="skill">

    <!-- Skill name -->
    <h2 class="skill-name">
      Design
    </h2>

    <!-- Description of what the skill -->
    <p class="skill-description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque corporis nulla tempora dolorum ea aliquid. Et voluptas ut aut delectus facilis a molestias dignissimos odit ex, nam labore laboriosam natus.

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, repudiandae magni! Magnam suscipit quia et reiciendis. Delectus quisquam id quia perferendis natus dolor! Qui iure est quidem voluptatem quae commodi?
    </p>

    <!-- List of related technologies -->
    <ul class="skill-technologies">

      <!-- Technology Item -->
      <li>
        <a href="">
          <img src="https://cdn-icons-png.flaticon.com/512/1126/1126012.png" alt="">
        </a>
      </li>

      <!-- Technology Item -->
      <li>
        <a href="">
          <img src="https://cdn-icons-png.flaticon.com/512/1126/1126012.png" alt="">
        </a>
      </li>

      <!-- Technology Item -->
      <li>
        <a href="">
          <img src="https://cdn-icons-png.flaticon.com/512/1126/1126012.png" alt="">
        </a>
      </li>

      <!-- Technology Item -->
      <li>
        <a href="">
          <img src="https://cdn-icons-png.flaticon.com/512/1126/1126012.png" alt="">
        </a>
      </li>

      <!-- Technology Item -->
      <li>
        <a href="">
          <img src="https://cdn-icons-png.flaticon.com/512/1126/1126012.png" alt="">
        </a>
      </li>
    </ul>


  </div>


  </div>



</section>
