main{
  width: 100vw;
  overflow-x: hidden;

  $textColorOne: #444;
  $textColorTwo: #EEE;

  .hero-section
  {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    padding: 0px 10%;
    background-color: #EEE;
    overflow-x: hidden;
    .hero-text
    {
      grid-column: 1;
      margin: auto 0px;
      z-index: 1;

      // Heading
      .hero-heading{
        font-size: 4em;
        margin: 0px;
        font-family: "Lato";
        font-weight: 100;
        letter-spacing: 10px;
      }

      // Information Text
      .hero-about{
        font-size: 18px;
        font-family: "Nixie One";
        width: 70%;
        margin: 20px 20%;

      }

      // View projects link
      a{
        color: black  ;
        font-size: 22px;
        font-family: "Lato";
      }
    }


    // Logo and social links
    .hero-logo-links
    {
      grid-column: 2;
      display: flex;
      justify-content: end;

      // Big circle
      .hero-background-item{
        height: 40rem;
        width: 40rem;
        margin: auto;
        position: absolute;
        top: 30%;
        left: 45%;
        svg{
          height: 80%;
          width: 80%;
        }
      }

      // Big Logo
      .hero-logo-big{
        z-index: 1;
        width: 50%;
        margin: auto;
      }

      // Social Media Links
      .hero-social-links{
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 30px;
        margin: auto 0px;

        img{
          height: 30px;
          width: 30px;
        }
      }

    }
  }
}
