<section class="hero-section">

  <!-- Text information -->
  <div class="hero-text">
    <h2 class="hero-heading" [innerHTML]="headerData.Text.heading">
      {{headerData.Text.heading}}
    </h2>
    <p class="hero-about">
      {{headerData.Text.summary}}
    </p>

    <a href="" class="hero-view-projects">
      projects &rarr;
    </a>
  </div>


  <!-- Big Logo and links -->
  <div class="hero-logo-links">

    <!-- LOGO image -->
    <img src="{{headerData.Logo}}" alt="" class="hero-logo-big scroll">


    <div class="hero-background-item ">

    </div>

    <!-- External links -->
    <ul class="hero-social-links">
      <!-- LinkedIn -->
      <li>
        <a href="{{headerData.SocialOne.link}}">
          <img src="{{headerData.SocialOne.image}}" alt="">
        </a>
      </li>

      <!-- GitHub -->
      <li class="scroll">
        <a href="{{headerData.SocialTwo.link}}">
          <img src="{{headerData.SocialTwo.image}}" alt="">
        </a>
      </li>

      <!-- Instagram -->
      <li>
        <a href="{{headerData.SocialThree.link}}">
          <img src="{{headerData.SocialThree.image}}" alt="">
        </a>
      </li>
    </ul>

  </div>
</section>

<!-- Quote Section -->
<section class="text-scrolling">

  <h2 class="scroll-left">
    SKILLS SKILLS SKILLS SKILLS SKILLS SKILLS SKILLS SKILLS
  </h2>

  <h2 class="scroll-right">
    SKILLS SKILLS SKILLS SKILLS SKILLS SKILLS SKILLS SKILLS
  </h2>

</section>




<!-- Skills section -->
<section class="skills-section">

  <!-- Design -->
  <div class="skills skills-left">

    <!-- Skill Image -->
    <div class="skill-image">
      <img src="{{skillsData.Design.Image}}" alt="">
    </div>

    <!-- Skill Text -->
    <div class="skill-information">
      <!-- Skill Name -->
      <h2 class="skill-name">
        {{skillsData.Design.Heading}}
      </h2>
      <!-- Skill Description -->
      <p class="skill-description">
        {{skillsData.Design.Description}}
      </p>

      <!-- Sub Heading -->
      <h2 class="headline">
        {{skillsData.Design.Design.headline}}
      </h2>

      <!-- Skills -->
      <ul class="list-of-tools" *ngFor="let skill of skillsData.Design.Design.experience">
        <li>
          {{skill}}
        </li>
      </ul>

      <!-- Sub Heading -->
      <h2 class="headline">
        {{skillsData.Design.Implementation.headline}}
      </h2>

      <!-- Skills -->
      <ul class="list-of-tools" *ngFor="let language of skillsData.Design.Implementation.languages">
        <li>
          {{language}}
        </li>
      </ul>

      <!-- Sub Heading -->
      <h2 class="headline">
        Frameworks
      </h2>

      <!-- Skills -->
      <ul class="list-of-tools" *ngFor="let framework of skillsData.Design.Implementation.frameworks">
        <li>
          {{framework}}
        </li>
      </ul>


    </div>
  </div>


   <!-- Programming -->
  <div class="skills skills-right">

     <!-- Skill Image -->
      <div class="skill-image">
        <img src="{{skillsData.Programming.Image}}" alt="">
      </div>

      <!-- Skill Text -->
      <div class="skill-information">
        <!-- Skill Name -->
        <h2 class="skill-name">
          {{skillsData.Programming.Heading}}
        </h2>
        <!-- Skill Description -->
        <p class="skill-description">
          {{skillsData.Programming.Description}}
        </p>

        <!-- Languages -->
        <h2 class="headline">
          {{skillsData.Programming.Languages.headline}}
        </h2>

        <ul class="list-of-tools" *ngFor="let language of skillsData.Programming.Languages.languages">
          <li>{{language}}</li>
        </ul>

        <!-- Languages -->
        <h2 class="headline">
          Frameworks
        </h2>

        <ul class="list-of-tools" *ngFor="let frameworks of skillsData.Programming.Frameworks.frameworks">
          <li>  {{frameworks}} </li>
        </ul>
      </div>
  </div>


   <!-- Database and networking -->
   <div class="skills skills-left">

    <!-- Skill Image -->
     <div class="skill-image">
       <img src="{{skillsData.Database.Image}}" alt="">
     </div>

     <!-- Skill Text -->
     <div class="skill-information">
       <!-- Skill Name -->
       <h2 class="skill-name">
        {{skillsData.Database.Heading}}
       </h2>
       <!-- Skill Description -->
       <p class="skill-description">
        {{skillsData.Database.Description}}
       </p>

       <!-- Database languages -->
       <h2 class="headline">
        {{skillsData.Database.Languages.headline}}
       </h2>

       <ul class="list-of-tools" *ngFor="let language of skillsData.Database.Languages.languages">
         <li>{{language}}</li>
       </ul>

       <!-- Database Software -->
       <h2 class="headline">
        {{skillsData.Database.Software.headline}}
      </h2>

      <ul class="list-of-tools" *ngFor="let software of skillsData.Database.Software.systems">
        <li>{{software}}</li>
      </ul>

      <!-- Database Cloud -->
      <h2 class="headline">
        {{skillsData.Database.Cloud.headline}}
      </h2>

      <ul class="list-of-tools" *ngFor="let cloud of skillsData.Database.Cloud.platforms">
        <li>{{cloud}}</li>
      </ul>


     </div>
 </div>
</section>


<section class="featured-projects-header">

  <div class="featured-left">
    <h1>
      FEATURED PROJECTS FEATURED PROJECTS FEATURED PROJECTS
    </h1>
  </div>

  <div class="featured-right">
    <h1>
      FEATURED PROJECTS FEATURED PROJECTS FEATURED PROJECTS
    </h1>
  </div>
</section>


<!-- Three featured projects -->
<section class="featured-projects">

  <ul class="list-featured-projects">
    <!-- Individual Project -->
    <li class="project">
      <!-- Image container -->
      <div class="featured-image-container">
        <img  class="featured-image foreground-image" src="/assets/mibo.svg" alt="">
        <!-- <img  class="featured-image background-image" src="/assets/mibo.svg" alt=""> -->
      </div>

      <!-- Information Container -->
      <div class="featured-information">

        <!-- Top half project information -->
        <div class="text-information">

          <!-- Project Client or project type -->
          <p class="client-name">
            Case Study
          </p>

          <!-- Project Name -->
          <h2 class="featured-project-name">
            MiBo Maps
          </h2>

          <!-- Platform -->
          <h3 class="featured-platform">
            Platform: Android, Web
          </h3>

          <!-- List of project stack -->
          <ul class="featured-technologies">
            <li>Angular</li>
            <li>Firebase</li>
            <li>Android</li>
          </ul>


          <div class="project-description">
            <!-- Project Information -->
            <h2 class="headline">
              Summary
            </h2>
            <!-- Paragraph -->
            <p class="paragraph">
              Something that lets mandem see places close to them needed to be created and it needed to allow the mandem to be able to get the locations to those places
            </p>

             <!-- Project Information -->
             <h2 class="headline">
              Role
            </h2>
            <!-- Paragraph -->
            <p class="paragraph">
              Something that lets mandem see places close to them needed to be created and it needed to allow the mandem to be able to get the locations to those places
            </p>

          </div>
        </div>


        <!-- Links -->
        <div class="featured-project-links">

          <!-- Github -->
          <div class="featured-link">
            <a href="">
              <img src="/assets/logos/github.svg" alt="">
              <p>Github</p>
            </a>
          </div>

          <!-- Live -->
          <div class="featured-link">
            <a href="">
              <img src="/assets/logos/github.svg" alt="">
              <p>Live</p>
            </a>
          </div>

        </div>

      </div>
    </li>









    <!-- Individual Project -->
    <li class="project">
      <!-- Image container -->
      <div class="featured-image-container">
        <img  class="featured-image foreground-image" src="/assets/mibo.svg" alt="">
        <!-- <img  class="featured-image background-image" src="/assets/mibo.svg" alt=""> -->
      </div>

      <!-- Information Container -->
      <div class="featured-information">

        <!-- Top half project information -->
        <div class="text-information">

          <!-- Project Client or project type -->
          <p class="client-name">
            Case Study
          </p>

          <!-- Project Name -->
          <h2 class="featured-project-name">
            MiBo Maps
          </h2>

          <!-- Platform -->
          <h3 class="featured-platform">
            Platform: Android, Web
          </h3>

          <!-- List of project stack -->
          <ul class="featured-technologies">
            <li>Angular</li>
            <li>Firebase</li>
            <li>Android</li>
          </ul>


          <div class="project-description">
            <!-- Project Information -->
            <h2 class="headline">
              Summary
            </h2>
            <!-- Paragraph -->
            <p class="paragraph">
              Something that lets mandem see places close to them needed to be created and it needed to allow the mandem to be able to get the locations to those places
            </p>

             <!-- Project Information -->
             <h2 class="headline">
              Role
            </h2>
            <!-- Paragraph -->
            <p class="paragraph">
              Something that lets mandem see places close to them needed to be created and it needed to allow the mandem to be able to get the locations to those places
            </p>

          </div>
        </div>


        <!-- Links -->
        <div class="featured-project-links">

          <!-- Github -->
          <div class="featured-link">
            <a href="">
              <img src="/assets/logos/github.svg" alt="">
              <p>Github</p>
            </a>
          </div>

          <!-- Live -->
          <div class="featured-link">
            <a href="">
              <img src="/assets/logos/github.svg" alt="">
              <p>Live</p>
            </a>
          </div>

        </div>

      </div>
    </li>

    <!-- Individual Project -->
    <li class="project">
      <!-- Image container -->
      <div class="featured-image-container">
        <img  class="featured-image foreground-image" src="/assets/mibobanner.svg" alt="">
        <!-- <img  class="featured-image background-image" src="/assets/mibo.svg" alt=""> -->
      </div>

      <!-- Information Container -->
      <div class="featured-information">

        <!-- Top half project information -->
        <div class="text-information">

          <!-- Project Client or project type -->
          <p class="client-name">
            Case Study
          </p>

          <!-- Project Name -->
          <h2 class="featured-project-name">
            MiBo Maps
          </h2>

          <!-- Platform -->
          <h3 class="featured-platform">
            Platform: Android, Web
          </h3>

          <!-- List of project stack -->
          <ul class="featured-technologies">
            <li>Angular</li>
            <li>Firebase</li>
            <li>Android</li>
          </ul>


          <div class="project-description">
            <!-- Project Information -->
            <h2 class="headline">
              Summary
            </h2>
            <!-- Paragraph -->
            <p class="paragraph">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, rerum error modi aspernatur neque maxime, sequi, quis quos ipsa est veritatis ex ad officiis enim doloremque velit? Culpa, numquam ullam.
            </p>

             <!-- Project Information -->
             <h2 class="headline">
              Role
            </h2>
            <!-- Paragraph -->
            <p class="paragraph">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, rerum error modi aspernatur neque maxime, sequi, quis quos ipsa est veritatis ex ad officiis enim doloremque velit? Culpa, numquam ullam.
            </p>

          </div>
        </div>


        <!-- Links -->
        <div class="featured-project-links">

          <!-- Github -->
          <div class="featured-link">
            <a href="">
              <img src="/assets/logos/github.svg" alt="">
              <p>Github</p>
            </a>
          </div>

          <!-- Live -->
          <div class="featured-link">
            <a href="">
              <img src="/assets/logos/github.svg" alt="">
              <p>Live</p>
            </a>
          </div>

        </div>

      </div>
    </li>
  </ul>
</section>

<br>


<!-- Other Projects -->
<section class="projects-container">

  <!-- List of projects -->
  <ul class="projects-list">

    <!-- Individual project -->
    <li>
      <!-- Card Item -->
      <div class="project-card">
        <!-- Project image -->
        <div class="project-image">
          <img src="/assets/mibocard.svg" alt="">
        </div>

        <!-- Project Information -->
        <div class="project-information">

          <!-- Project Name -->
          <h2 class="project-name">
            MiBo Maps
          </h2>

          <!-- Summary of project -->
          <p class="project-description">
            Location mapping application for android
          </p>

          <!-- Tech used to build project -->
          <ul class="project-tech">
            <li>
              <a href="">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="">
              </a>
            </li>
          </ul>

        </div>
      </div>
    </li>
  </ul>

</section>





